.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bodyContainer {
  background-image: url('../public/lost-ark-servers_feature.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* filter:blur(2px) */
}

.contentContainer {
  height: 500px;
  width: 60%;
  background: #34495e;
  border-radius: 8px;
  opacity: calc(95%);
}

.contentCardContainer {
  height: inherit;
  overflow-y: scroll;
}

.contentNpcContainer {
  height: inherit;
  overflow-y: scroll;
}

.contentCraftContainer {
  height: inherit;
  overflow-y: scroll;
}

.page_logo {
  display: flex;
  justify-content: center;
  margin-top:6%;
  margin-bottom: 6%;
  height: 198%;
  width: 98%
}

.classContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 3%;
  color: whitesmoke;
}

.npcContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 3%;
  color: whitesmoke;
}

.craftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 3%;
  color: whitesmoke;
}

.baseClass {
  color: white;
  font-size: 1pc;
}

.specClass {
  margin: 2%
}

.specClassContainer {
  margin: 20px
}

.header {
  display:flex;
  margin: 10px 10px 10px 10px;
  justify-content: center;
  color: white;
  letter-spacing: 0.5px;
  font-size: 20px;
}

.skillContainer {
  color: white;
  overflow-y: scroll;
  height: 500px;
}

.video {
  width: 77%;
  height: 40%
}

.parentContainer {
  height: 100%;
  width: 100%;
  display: flex;
}